In [1]:
#import necessary libraries

import requests
import pandas as pd
import geopandas as gpd
import numpy as np
# import geojson
import folium
import os
import matplotlib.pyplot as plt
from shapely.geometry import Point, Polygon
from matplotlib.patches import RegularPolygon

In [2]:

url = 'http://calvinbrown32.github.io/Collisions.csv'
crash_data = pd.read_csv(url)
#  crash_data.set_index(['CASE_ID'], inplace=True)
#  crash_data.index.name = None

In [3]:
bike_crashes = crash_data.loc[crash_data.BICYCLE_ACCIDENT == 'Y']
ped_crashes = crash_data.loc[crash_data.PEDESTRIAN_ACCIDENT == 'Y']

In [8]:
bike_by_year = bike_crashes.ACCIDENT_YEAR.groupby("ACCIDENT_YEAR").count()

In [22]:
bikebike_crashes.groupby(by='ACCIDENT_YEAR')['ACCIDENT_YEAR'].transform('count')

3      20
5      20
6      20
7      20
14     20
       ..
344    16
345    16
352    16
365    16
406    15
Name: ACCIDENT_YEAR, Length: 90, dtype: int64

In [29]:
df = bike_crashes['ACCIDENT_YEAR'].value_counts().reset_index()

In [31]:
df.columns = ['ACCIDENT_YEAR', 'total']

In [32]:
df

   ACCIDENT_YEAR  total
0           2017     21
1           2015     20
2           2016     18
3           2019     16
4           2018     15

In [21]:
bike_crashes

,CASE_ID,ACCIDENT_YEAR,PROC_DATE,JURIS,COLLISION_DATE,COLLISION_TIME,OFFICER_ID,REPORTING_DISTRICT,DAY_OF_WEEK,CHP_SHIFT,...,COUNT_MC_INJURED,PRIMARY_RAMP,SECONDARY_RAMP,LATITUDE,LONGITUDE,COUNTY,CITY,POINT_X,POINT_Y,freq
3,6808775,2015,2016-09-07,4305,2015-02-07,1720,TCHANG,NaN,6,5,...,0,-,-,NaN,NaN,SANTA CLARA,LOS ALTOS,-122.117170,37.403648,20
5,6812074,2015,2015-03-04,4305,2015-01-25,1147,359,1,7,5,...,0,-,-,NaN,NaN,SANTA CLARA,LOS ALTOS,-122.111939,37.384980,20
6,6830412,2015,2015-03-06,4305,2015-01-27,1734,341,NaN,2,5,...,0,-,-,NaN,NaN,SANTA CLARA,LOS ALTOS,-122.086315,37.351635,20
7,6830630,2015,2015-03-19,4305,2015-02-13,819,341,NaN,5,5,...,0,-,-,NaN,NaN,SANTA CLARA,LOS ALTOS,-122.067805,37.337974,20
14,6860502,2015,2015-04-06,4305,2015-03-16,1731,341,NaN,1,5,...,0,-,-,NaN,NaN,SANTA CLARA,LOS ALTOS,-122.123809,37.384433,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
344,8965033,2019,2019-10-31,4305,2019-10-02,1636,374,8,3,5,...,0,-,-,NaN,NaN,SANTA CLARA,LOS ALTOS,-122.097298,37.360130,16
345,8965037,2019,2019-11-05,4305,2019-10-02,841,374,06,3,5,...,0,-,-,NaN,NaN,SANTA CLARA,LOS ALTOS,-122.114143,37.377312,16
352,8975641,2019,2020-01-23,4305,2019-11-04,919,314,NaN,1,5,...,0,-,-,NaN,NaN,SANTA CLARA,LOS ALTOS,-122.071991,37.341415,16
365,9009576,2019,2020-02-20,4305,2019-12-17,817,314,NaN,2,5,...,0,-,-,NaN,NaN,SANTA CLARA,LOS ALTOS,-122.095970,37.385551,16
406,90797752,2018,2018-08-27,9330,2018-08-16,1953,021414,NaN,4,2,...,0,-,-,37.356392,-122.102043,SANTA CLARA,LOS ALTOS,-122.101776,37.356674,15